<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory> 
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/trainViewer</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
       <property name="show_sql">true</property>
       <property name="format_sql">true</property>
       <!-- property name="use_sql_comments">true</property-->
       
       <mapping resource="country.hbm.xml"/>  
       <mapping resource="alias.hbm.xml"/> 
       <mapping resource="aliasUnknown.hbm.xml"/> 
    </session-factory>  
    
</hibernate-configuration>
