*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.ms-container {
	margin: 0 auto;
	width: 90%;
}

/*LANDING PAGE*/

:root {
	--red: #a6160a;
	--white: #ffffff;
	--redTenue: rgba(166, 22, 10, 0.775);
}

/*NAVBAR*/

.navbar {
	background-color: var(--red);
}

.navbar span {
	color: var(--white);
}

.ms-logout {
	border: var(--white);
	background-color: var(--white);
}

.ms-logout-btn {
	color: var(--white);
	background-color: var(--red);
	border: 1px solid var(--red);
}

.ms-logout-btn:hover {
	border: 1px solid var(--white);
	color: var(--white);
}

.btn.show {
	color: var(--red);
	background-color: var(--white);
	border: 1px solid var(--red);
}

/*CAROUSEL*/

.ms-carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.carousel-item {
	height: 60vh;
}

img {
	height: -webkit-fill-available;
	vertical-align: middle;
}

/*DISCOUNT*/

.ms-btn {
	color: var(--red);
	background-color: var(--white);
	border: 1px solid var(--red);
}

.ms-btn:hover {
	color: var(--white);
	background-color: var(--red);
	border: 1px solid var(--red);
}

.btn.active {
	border: 1px solid var(--red);
	color: var(--white);
}

/*NEWS*/

.ms-news-card {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.ms-card-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.ms-card-container .ms-card{
    position: relative;
    cursor: pointer;
}

.ms-card-container .ms-card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.ms-card-container .ms-card .face.face1{
    position: relative;
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.ms-card-container .ms-card:hover .face.face1{
    background: var(--red);
    transform: translateY(0);
}

.ms-card-container .ms-card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.ms-card-container .ms-card:hover .face.face1 .content{
    opacity: 1;
}

.ms-card-container .ms-card .face.face1 .content img{
    max-width: 100px;
}

.ms-card-container .ms-card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: var(--white);
    text-align: center;
    font-size: 1.5em;
}

.ms-card-container .ms-card .face.face2{
    position: relative;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.ms-card-container .ms-card:hover .face.face2{
    transform: translateY(0);
}

.ms-card-container .ms-card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .ms-card .face.face2 .content a{
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.ms-card-container .ms-card .face.face2 .content a:hover{
    background: #333;
    color: var(--white);
}



/*TRAIN GAME*/

.container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.btnPlay {
    width: 80px;
    height: 40px;
    background-color: var(--red);
    color: var(--white);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 6px 12px #888888;
    transition: 0.5s ease;
}

.btnPlay:hover {
    background-color: #00cccc;
}

.btnPlay:focus {
    outline: 0;
}

#pianoGioco {

    border: 1px solid;
    width: 89%;
    background-color: var(--redTenue);
    margin: auto;
}

img {
    margin: 0 0.0167236px ;
}

audio {
    display: none;
}










/* LOGIN */
.card-login {
	border-style: outset;
	border-color: dark-grey;
	box-shadow: 3px 3px var(--red);
}

.btn-user {
	background-color: var(--red);
 	color: var(--white);
 	padding: 12px 15px;
 	border: none;
 	cursor: pointer;
 	width: 60%;
 	opacity: 0.9;
 	margin: 10px 0px 0px 20px;
}

/*FOOTER*/

.ms-footer-container{
  width: 90%;
  margin:0 auto;
}
.ms-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul{
  list-style: none;
}
.footer{
  background-color: var(--red);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: var(--white);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  color: var(--white);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: var(--white);
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: var(--white);
}