
/*LANDING PAGE*/

:root {
	--red: #a6160a;
	--white: #ffffff;
}

.navbar {
	background-color: var(--red);
}

.navbar span {
	color: var(--white);
}


/*TRAIN GAME*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.btnPlay {
    width: 80px;
    height: 40px;
    background-color: #00ffff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 6px 12px #888888;
    transition: 0.5s ease;
}

.btnPlay:hover {
    background-color: #00cccc;
}

.btnPlay:focus {
    outline: 0;
}

#pianoGioco {

    border: 1px solid;
    width: 89%;
    background-color: rgb(34, 160, 76);
    margin: auto;
}

img {
    margin: 0 0.0167236px ;
}

audio {
    display: none;
}

/* /TRAIN GAME */